.header {
    padding-top: 5px;
    padding-bottom: 5px;
    background: #0E0C50;
}
.footer{
    background-color: #F3F3F3;
    text-align: center;
    padding: 30px 0;
    font-size: 12px;
    color: #4a4a4a;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.button-primary {
    transition: 0.5s;
}
.holiday-box {
    background-image: url('../img/dion-tavenier.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 100px;
    padding-top: 25px;
    text-align: center;
    color: #fff;
    position: relative;
}
.holiday-box-overlay {
    background-color: rgba(34, 34, 34, 0.71);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 0;
}
.holiday-box h2 {
    font-size: 66px;
    line-height: 83px;
    font-weight: 700;
    padding: 0 70px;
}
.s-head {
    font-size: 34px;
}
.section-package {
    padding-top: 20px;
    outline: none;
    background-color: rgb(242, 242, 242);
}
.package-box {
    position: relative;
    top: -100px;
}
.single-package img {
    width: 100%;
    height: auto;
}
.single-package {
    background: #fff;
    padding: 25px 25px 7px;
}
.single-package h3 {
    margin: 20px 0 15px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    color: #2f2f2f;
}
.single-package figure img {
    height: 250px;
}
.pack_price {
    height: 150px;
}
.pack_desc {
    font-size: 18px;
    line-height: 23px;
    padding-bottom: 50px;
    height: 100px;
    overflow: hidden;
}
.pack_price p {
    color: rgba(47, 47, 47, 0.5);
    font-size: 18px;
}
.pack_price h2 {
    font-size: 30px;
    padding-bottom: 10px;
}
.pack_btn a {
    color: rgb(255, 255, 255);
    font-weight: 600;
    background-color: rgb(242, 88, 36);
    font-size: 22px;
    padding: 10px 25px;
}
.pack_terms {
    padding: 15px 0;
}
.pack_terms p {
    color: rgba(47, 47, 47, 0.5);
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0;
}
.section-gateway {
    padding-top: 20px;
    outline: none;
    background-color: rgb(90, 175, 214);
    color: #fff;
}
.gateway-detail-box h2 {
    font-size: 55px;
    line-height: 70px;
    font-weight: 700;
    padding-bottom: 10px;
}
.gateway-image-box img {
    width: 100%;
    height: auto;
}
.gateway-detail-link {
    padding: 10px 25px;
    display: block;
    text-align: center;
    text-decoration: none !important;
    color: #fff !important;
    color: rgb(255, 255, 255);
    font-weight: 600;
    background-color: rgb(242, 88, 36);
    font-size: 28px;
}
.link-sub {
    font-size: 14px;
    display: block;
}
.login-brand img {
    width: 200px;
}
.description-section p {
    width: 100%;
}
.row.why-stay-row p {
    width: 100%;
}
.text-center {
    text-align: center!important;
}
.align-self-end {
    -ms-flex-item-align: end!important;
    align-self: flex-end!important;
}
.smtxt {
    font-size: 9px !important;
}
.intl-tel-input {
    width: 100%;
}
p{
    font-size: 20px;
}
button:hover, a.btn:hover {
    box-shadow: inset 0 2px 2px 0 rgba(255,255,255,0.22), 0 233px 233px 0 rgba(255,255,255,0.12) inset;   
}
.right-header.col-md-6 {
    display: flex;
    /* align-items: end; */
    justify-content: flex-end;
    align-items: center;
}

.right-header.col-md-6 a {
    float: right;
    font-size: 20px;
    padding: 10px;
    background: white;
    border-radius: 10px;
    color: #fe8a20;
    font-weight: 700;
    transition: 0.5s;
}
.right-header.col-md-6 a:hover {
    box-shadow: 0px 0px 14px 3px #fe8a20;
    text-decoration: none;
    border-radius: 5px;
}
.center-sec {
    display: flex;
    align-items: center;
    justify-content: center;
}
section.section-gateway .fa {
    margin-right: 10px;
}
.detail-box {
    font-size: 26px;
}
.button-primary {
    border-radius: 10px;
    /* line-height: initial; */
    padding: 10px 25px;
    display: block;
    text-align: center;
    text-decoration: none !important;
    color: #fff !important;
    color: rgb(255, 255, 255);
    font-weight: 600;
    background-color: rgb(242, 88, 36);
}
.button-primary:hover {
    box-shadow: inset 0 2px 2px 0 rgba(255,255,255,0.22), 0 233px 233px 0 rgba(255,255,255,0.12) inset;
    transform: translateY(-10px);
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px !important;
    margin-left: -15px !important;
}
.flash-sale-box-item span.today-sale-timer .text-center.align-self-end p.ltxt {
    font-size: 40px;
}
.flash-sale-box-item span.today-sale-timer .text-center.align-self-end p.smtxt {
    font-size: 25px !important;
}
.center-sec-inverse{
    color: black;
}
section.sell-packages {
    background: #f8f8f8;
}
section.sell-packages p {
    font-size: 18px;
}
center {
    width: 100%;
}
.row.sect-accord {
    margin-top: 20px;
    margin-bottom: 20px;
}
section.faqs .col-md-12.button-div a {
    width: 60%;
    margin-top: 20px;
}
section.faqs {
    margin: 40px 0px;
}


/* listing section */
.row.title-row p.title {
    font-weight: 700;
}
.today-only-timer {
    font-size: 20px;
    color: #ff9a02;
    text-transform: uppercase;
    font-weight: 600;
}
span.today-sale-timer {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
span.today-sale-timer .text-center.align-self-end {
    padding: 10px;
}
div.today-only-timer {
    /* width: 100%; */
    /* margin: auto; */
    /* display: block; */
    text-align: center;
}

.booking-item {
    width: 100%;
    border: 20px solid #0e0c50;
}
img.img-top-listing {
    margin:  auto;
    padding: 20px;
    display: block;
}
img.img-middle-listing {
    width: 100%;
    height: 600px;
    display: block;
    margin:  auto;
    object-fit: cover;
}
.item-bottom-row p {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 0px;
    text-align: center;
}

.item-bottom-row {
    background: #0e0c50;
    padding-top: 20px;
}
p.today-value span.today-price {
    font-size: 30px;
    font-weight: 500;
    color: #ff9a02;
    position: relative;
    top: 5px;
}
p.retail-value {
    font-size: 16px;
    color: #ff9a02;
}
p.retail-value span.original-price {
    text-decoration: line-through;
}
p.retail-value {
    font-size: 16px;
    color: #ff9a02;
}
p.today-value {
    font-size: 16px;
}
button.booking-button:hover {
    box-shadow: inset 0 2px 2px 0 rgba(255,255,255,0.22), 0 233px 233px 0 rgba(255,255,255,0.12) inset;   
}
button.booking-button {
    padding: 10px 25px;
    width: 100%;
    font-size: 30px;
    margin: 10px 0px;
    background: #ff9a02;
    border: 0px;
    color: white;
    border-radius: 10px;
}
.container.description-star-sec {
    margin-top: 50px;
}
.row.title-row p {
    margin: 0px;
    font-size: 26px;
}
p.today-only-timer {
    color: #ff9a02;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
}



/* date box */


.date-box-item {
    width: 100%;
    padding: 20px;
}
.row.date-box-row {
    border: 2px solid #0e0c50;
}
section.date-box-sec p {
    font-size: 20px;
    margin: 0px;
    text-align: center;
}
.col-md-12.button-date-box {
    background: #ff9a02;
    padding: 15px 25px;
    margin: 10px 0px;
}
.video-container.container {
    padding: 0px;
}
.video-container.container iframe {
    width: 100%;
    height: 500px;
}


/* image gallery */


.gallery-image-box img {
    width: 100%;
    margin: 10px 0px;
}
section.gallery-sec p.title-hotel {
    font-size: 26px;
}



/* flash sale box */



.flash-sale-box-item {
    width: 100%;
    text-align: center;
    border: 15px solid #ff9504;
}
button.flash-sale-btn {
    border-radius: 0px;
    margin-bottom: 0px;
    background: #0e0c50;
    color: #fd9b04;
}


/* why stay at hotel gallery */

ul.check-o.text-center {
    width: 60%;
    margin: auto;
}
.facsility-sec {
    width: 100%;
}
p.title-fascility {
    color: #ff9504;
    font-weight: 700;
}
p.title-hotel {
    width: 100%;
}
.row.why-stay-row {
    padding: 20px;
    background: #f3f3f3;
}
ul.fascility-list {
    list-style: none;
    padding: 0px;
    font-size: 20px;
}
.reservation-box-fascility {
    width: 100%;
    background: #ff9504;
    padding: 20px;
    text-align: center;
    color: white;
}
.reservation-box-fascility p.retail-value {
    color: #0e0c50;
    margin: 0px;
}
.reservation-box-fascility p.today-value {
    color: #0e0c50;
    font-size: 30px;
    font-weight: 500;
}
.reservation-box-fascility p.today-value span.today-price {
    color: #0e0c50;
    top: 0;
}



/* modals */


.date-select-modal .modal-header {
    padding: 15px 15px;
    border: 0px;
    border-radius: 5px;
    /* color: red; */
}
.modal-header button.close {
    color: red;
}
div#lockpriceModalCenter .modal-dialog.modal-dialog-centered {
    width: 100% !important;
    max-width: 30%;
}

div#dateModalCenter p.date-select-title {
    color: #ff9a02;
    font-weight: bold;
}
.date-select-modal .modal-body {
    text-align: center;
    text-transform: uppercase;
}
.date-select-modal .modal-body .date-select-mod {
 background: #f8f9fa;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.col-md-12.date-select-mod.blue a.button.button-date-mod {
    background: #080629;
    width: 100%;
    display: block;
    color: white;
    padding: 10px;
}

a.button.button-date-mod {
    background: #ff9a02;
    width: 100%;
    display: block;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
/*div#dateModalCenter .modal-content {
    background: #ff9a02;
}
div#lockpriceModalCenter .modal-content {
    background: #080629;
}*/
.modal-content {
     background: url(http://localhost:8000/img/dion-tavenier.jpg);
    background-size: cover;
}



/* booking page */
label.form-check-label a {
    color: #fe8820;
    text-decoration: underline;
}
.fv-plugins-message-container {
    color: #ffffff;
    background: #fe8820;
    
    border-radius: 5px;
}
.fv-plugins-message-container div{

padding: 10px;
}
.caleran-input {
    width: 100% !important;
    margin: 20px auto !important;
}
section.booking-sec .row {
    margin: 40px 0;
}

.dates-section.col-md-12 input {
    width: 100%;
    margin: 10px auto;

    display: block;
}
h3.main-title {
    color: #fe8a20;
    margin-bottom: 20px;
    text-align: center;
    padding: 15px;
    width: 100%;
    border-bottom: 5px solid #fe8920;
}
.form-check {

    margin: auto;
}
h4.mini-title {
    width: 100%;
    margin-bottom: 20px;
    color: #fe8920;
    text-align: center;
    padding: 15px;
    border-bottom: 2px solid #fe8920;
}
button.button-primary.button.button-booking {
    border: 1px;
    width: 100%;
    /* display: block; */
    float: left;
    margin: 20px 0px;
}
form.col-md-6.offset-md-3 {
    /* border: 1px solid #fe8820; */
    margin: 80px auto;
    border-radius: 10px;
    box-shadow: 0 17px 43px rgba(141, 173, 186, 0.56);
}

form#reserveForm button.button-primary.button.button-booking {
    font-size: 20px;
}
/* checkout */


.description-side-inner {
    float: left;
}
.price-side-inner {
    float: right;
}
p.checkout-timer {
    padding: 20px;
    background: #d2a10da3;
    width: 100%;
    border-radius: 5px;
    margin: 20px 0px;
}
.description-side-inner {
    float: left;
    width: 100%;
}
span.original-price {
    text-decoration: line-through;
    color: #ff0000;
    font-size: 14px;
}